<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Position Property</title>
    <style>
        body {
            margin: 0;
        }

        .box-,
        .box {
            border-radius: 6px;

        }

        .box-set {
            background: whitesmoke;

        }

        .box {
            background: rgba(12, 204, 69, 0.884);
            position: sticky;
            height: 80px;
            width: 80px;
            text-align: center;
            margin: 20px;


        }

        .box-1 {
            width: 70%;
            display: table;
            background-color: rgb(255, 252, 252);

            align-items: center;
            vertical-align: middle;
            margin: 0;
            height: 60px;

            /* box-shadow: -5px -5px blue, 5px 5px red, 15px 15px green; */
            /* */
            box-shadow: 10px 1px rgb(155, 148, 148) 0px -1px 1px rgb(155, 148, 148);
            position: sticky;
            top: 0px;
        }

        .box-2 {
            left: 0;
            margin: 10px 0 0 0;
            border-radius: 0;
            padding: 0;
            /* left: 10px; */
            height: 100%;
            width: 190px;
            position: fixed;
            z-index: 1;
            visibility: visible;
        }

        .box.box-2.invisible {
            visibility: hidden;


        }

        /* .box-3 {
            left: 30px;

            /* position: absolute; */

        /* top: 100px; */
        /* } */

        .box-3 {
            top: 0px;
            flex-grow: 1;
            /* margin-top: 80px; */
            margin-bottom: 0;
            padding-left: 0;
            text-align: justify;

        }



        .Row {
            display: block;
            width: 100%;
            /*Optional*/
            table-layout: fixed;

            /*Optional*/
            border-spacing: 10px;
            /*Optional*/
        }

        .Column {
            display: table-cell;
            vertical-align: middle;

            align-content: space-around;
            padding: 0 10px;
            /* background-color: red; */
            /*Optional*/
        }




        .menu {

            width: 35px;
            height: 5px;
            background-color: black;
            margin: 6px 0;

        }

        /* footer {
            margin-top: 70%;
        } */

        footer {
            width: 100%;
            margin-left: 180px;
            background: #ebeeef;
            padding: 25px 0;
            text-align: center;
            position: fixed;
            bottom: 0px;
            z-index: 0;

        }

        a {
            color: black;
            text-decoration: none;
            font-size: large;
            font-weight: 500;
        }

        a.active {
            color: green;
        }

        footer a {
            color: rgb(141, 136, 136);
            text-decoration: none;
            margin-right: 20px;
        }

        #home {
            margin-top: 100px;
        }

        /* .box-4 {
            bottom: 10px;
        }

        */
    </style>
</head>

<body>

    <div class="box-set">
        <div class="box box-1 row">
            <div class="row">

                <div class="Row">
                    <div class="Column" onclick="toggleMenu()" id="menu">
                        <div class="menu"></div>
                        <div class="menu"></div>
                        <div class="menu"></div>
                    </div>
                    <div class="Column"><a href="#home" id="homeTab" onclick="toggleHome()" class="home active">Home</a>
                    </div>
                    <div class="Column"><a href="#about" id="aboutTab" onclick="toggleAbout()" class="about">About</a>
                    </div>
                    <div class="Column"><a href="#contact" id="contactTab" onclick="toggleContact()"
                            class="contact">Contact</a></div>
                </div>
            </div>
        </div>
        <div class="box box-2" id="box2">Box 2</div>
        <!-- <div class="box box-4">Box 3</div> -->
        <!-- <div class="box box-4">Box 4</div> -->
        <div class=" box-3">
            <hr id="home">
            <h1 id="home">Home</h1>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, tempore id quibusdam praesentium
                excepturi adipisci deleniti itaque. Vero doloremque tenetur reprehenderit asperiores similique
                voluptatem
                unde
                nihil officiis, deleniti, quasi omnis.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, aspernatur delectus! Esse sint fuga nam
                nihil, ratione sunt earum dolore illo libero optio reiciendis obcaecati tempora cupiditate enim magnam
                aperiam laboriosam sequi vero officiis culpa dolor ipsa! Ipsa aliquam recusandae debitis sit ea, earum
                aut
                repellat aliquid dolore cumque cum blanditiis id. Quaerat, distinctio qui! Quisquam iusto optio fugiat
                similique libero, vitae cum aliquid error laborum voluptatum, voluptatem doloribus fuga consequuntur
                reprehenderit quis dolores veritatis at. Veniam nemo corporis aut temporibus? Quisquam magnam quas unde
                perspiciatis! Temporibus, cupiditate aspernatur pariatur exercitationem quaerat minima, ut nobis
                sapiente
                aliquid obcaecati magni quas amet iste corrupti reiciendis et est? Et ea explicabo incidunt modi
                accusantium
                adipisci harum inventore consequatur, rem quos sint fugit eligendi cumque, nemo at pariatur.
                Necessitatibus,
                fuga. Reprehenderit, illo fuga. Perspiciatis cupiditate velit voluptate quae ad magni labore porro
                consectetur, magnam natus, iure pariatur necessitatibus officia animi perferendis veritatis atque
                reprehenderit eius ullam vel. Reprehenderit ea, necessitatibus nemo culpa tempora asperiores praesentium
                atque, in quas doloremque est earum a maiores nesciunt neque vitae aspernatur ex incidunt quam
                voluptates
                possimus laboriosam expedita commodi. Laudantium quos suscipit temporibus tempora, excepturi ipsa ut
                recusandae, aspernatur praesentium dignissimos fuga maiores id voluptatibus nam blanditiis accusantium
                aut
                pariatur sapiente et laboriosam eius nisi quibusdam ipsum dolorum. Minus eum sequi totam cumque,
                reiciendis
                at distinctio animi assumenda molestias non. Quam culpa optio odio nisi, non dolorum explicabo facere
                placeat corrupti accusantium deserunt similique asperiores veniam temporibus animi voluptates velit illo
                suscipit molestiae doloremque impedit est architecto unde. Saepe ducimus consectetur tenetur. Eum
                consequatur veritatis ratione quae mollitia fuga reiciendis a quod, id officia, minus nesciunt!
                Accusamus
                dolorum, ratione qui earum reprehenderit consequuntur impedit mollitia sit cupiditate nihil at nam
                accusantium blanditiis provident optio ex non eius quos. Dolorem, sed molestias? Omnis nam sapiente
                alias
                repudiandae ex optio quas officiis ut eveniet minus perspiciatis mollitia nesciunt ducimus nisi
                consequuntur
                voluptatum harum vel, beatae esse maxime odio obcaecati totam! Totam nesciunt non fugiat beatae, quod
                officiis nihil recusandae dolore officia excepturi, magnam perferendis, vel distinctio. Consequatur,
                voluptatibus ad rem quos eum ab, minima, commodi modi accusantium at neque omnis veniam debitis mollitia
                vel
                ipsam doloribus nulla non alias officiis cumque? Repellendus magnam rerum corporis commodi itaque
                reprehenderit necessitatibus ullam iusto asperiores laudantium in at ea atque impedit deleniti amet,
                nulla
                perspiciatis facilis porro? Itaque dolore numquam quas ipsa dolores impedit ullam beatae? Incidunt vel
                assumenda quidem, sunt delectus nesciunt numquam repellendus magnam repudiandae fugit ut iste odio
                eveniet
                deserunt at laboriosam beatae soluta cum facilis cumque distinctio itaque deleniti. Ipsam libero laborum
                magni neque dolorem, unde esse. Animi provident magni mollitia, aliquam soluta ab alias culpa recusandae
                quibusdam veritatis quos sed. Cumque mollitia ratione, non blanditiis doloribus numquam corrupti ex quia
                enim animi assumenda error illo obcaecati rerum sequi? Eaque placeat rerum doloribus quidem, veritatis
                in
                nobis non ad ratione? Porro voluptas minus repellendus voluptate enim quos sequi recusandae reiciendis.
                Nulla sapiente repellendus nesciunt asperiores voluptatum ratione at porro sunt, suscipit nam eaque
                temporibus modi. Nam facilis obcaecati esse error quae adipisci nemo temporibus magni ad ipsa aspernatur
                repellat id perferendis, officia expedita vel enim saepe velit dolorem suscipit non deserunt cum
                cupiditate
                illum. Quod accusantium modi consequuntur magnam magni eveniet porro tempora, totam, voluptatum, ducimus
                nulla praesentium reiciendis. Earum doloremque blanditiis veniam similique, natus perferendis laborum
                saepe,
                minus repudiandae ipsa odit itaque animi omnis maiores assumenda officiis cupiditate optio amet eveniet!
                Aperiam autem quo labore molestiae velit aliquam laboriosam ab amet ea accusamus, earum distinctio
                veritatis
                quod, in quasi, eos necessitatibus. Nemo reprehenderit explicabo saepe nam numquam necessitatibus sed
                nihil,
                reiciendis dolores non dicta laudantium? Omnis ipsa aspernatur porro veritatis nihil facilis illo
                fugiat,
                excepturi commodi eveniet deserunt assumenda quibusdam nostrum provident voluptatum quo aliquid natus
                consequatur obcaecati, numquam quisquam officia! Nam rerum, perferendis iure aperiam excepturi quidem
                eos
                reiciendis molestias asperiores accusamus. Ratione natus ullam, dolor facilis modi iusto porro harum,
                esse
                autem sint sit sed rerum quae, possimus repellat reprehenderit in illo suscipit. Ullam quas magni,
                commodi,
                sed harum omnis sint qui doloremque accusantium recusandae veritatis autem! Maxime, distinctio
                blanditiis
                quos est nisi vitae reiciendis aliquam asperiores enim laudantium facilis earum ducimus iste mollitia
                necessitatibus nostrum eaque, ex ipsam veritatis id suscipit ad delectus quis? Suscipit illo, tempore
                iusto
                explicabo magni minus, officiis pariatur doloremque perferendis, incidunt libero. Earum recusandae
                officiis,
                asperiores molestias eligendi quos cupiditate fuga similique, nesciunt quasi adipisci delectus error.
                Mollitia, accusamus dolor? Rerum adipisci quas voluptate velit, obcaecati maxime ratione amet
                doloremque! Id
                libero, voluptatem quibusdam velit qui repudiandae nostrum error culpa possimus aliquam, quis, dolorum
                accusamus reiciendis debitis ipsum esse officia. Cum aperiam quidem sequi dolorem provident culpa
                voluptas
                odio ipsa optio repudiandae temporibus, vitae quod itaque numquam dolorum voluptatibus voluptates
                repellat
                facilis debitis velit! Possimus, voluptas magni praesentium illo quos ratione odit harum repudiandae id
                placeat pariatur totam natus voluptatum ab a? Ea, enim reprehenderit quis maxime facilis necessitatibus
                fuga
                odit praesentium, quo distinctio ab saepe veritatis fugiat blanditiis illo iure ut. Animi placeat,
                cupiditate officia odio natus iusto error velit? Sit, cum omnis corporis dolorem in aliquid ullam
                nostrum
                debitis quia asperiores voluptatum aliquam esse eligendi hic excepturi voluptatibus voluptas quis modi
                maxime. Aspernatur in quae maiores dignissimos omnis assumenda sint consequuntur sed laborum! Ipsa
                explicabo
                voluptatem obcaecati, eaque mollitia non quo. Sit quod rerum rem dolorum beatae? Nobis sapiente, dolore
                numquam aspernatur dolorem omnis voluptates eaque distinctio porro perferendis dolorum assumenda vel
                incidunt ut qui voluptas adipisci ab eligendi. Tenetur eaque, provident culpa minima quo quos id
                adipisci
                repudiandae fuga iste iure fugit, odio necessitatibus? Reiciendis, eius? Distinctio, asperiores eaque
                iure
                id, saepe explicabo accusantium quo quasi magni minima sit omnis! Aliquam doloremque facere minima,
                praesentium doloribus cumque unde maiores exercitationem, eveniet sit nulla possimus magni, quis
                aspernatur
                excepturi. Quibusdam corrupti assumenda, laboriosam iste eaque enim, explicabo debitis quae corporis
                quas
                quam incidunt atque, vel veniam a minima vero quis nam nostrum commodi velit odio repellat? Sed maxime
                eos
                iusto error fugiat illum aspernatur modi ab, quis autem accusantium esse maiores vitae voluptatum? Magni
                animi ad recusandae sit doloribus eius. Hic omnis nobis accusantium, amet vero libero sapiente ipsa
                officiis
                architecto alias voluptatum! Ex pariatur tempora quia dolorem fugit deleniti neque magnam expedita optio
                reprehenderit nihil illum sapiente, vel corporis ratione similique officiis iste corrupti quae
                praesentium
                architecto maxime repellendus. Sequi repellendus exercitationem, ut incidunt ratione, omnis deserunt
                odio
                enim aliquid laborum delectus quam molestias, quaerat maxime obcaecati necessitatibus. Obcaecati,
                voluptatem! Laudantium ipsam recusandae minima distinctio, mollitia deserunt facere quia itaque? Ratione
                eius at ullam fugiat, quisquam consequatur suscipit provident sapiente error debitis labore magnam
                voluptatibus atque eum nobis ipsum ducimus deserunt consectetur dignissimos. Iste cumque enim, inventore
                similique exercitationem, odio voluptates ad possimus nemo rem aliquid autem eaque officia! Eius
                voluptas
                odio modi totam est aut consequuntur ratione placeat dolorum repudiandae veniam quo magnam eligendi
                dolor
                quis maxime deserunt neque quam quia aliquam, ut eaque. Numquam sunt delectus cupiditate dolore
                repellendus
                placeat sed temporibus quaerat, excepturi molestiae corporis dolorum sequi eos facere earum tempora ut
                beatae eum maxime assumenda ratione fugit! Incidunt, magnam. Dolor quisquam nemo amet voluptatibus autem
                modi provident repellendus. Sequi saepe et consequatur tempore sapiente est aliquam? Libero voluptate
                facere
                voluptatem accusantium explicabo labore soluta assumenda voluptatum asperiores maiores, ut dolorum
                architecto id, molestias, cum non. Repellendus ducimus iste maxime modi saepe nulla nemo corrupti minus!
                Provident rem maxime ad id itaque aperiam rerum, quia illum fugiat sed recusandae nesciunt nobis
                suscipit
                ipsa voluptas possimus excepturi dignissimos porro! Ducimus, eveniet praesentium temporibus delectus
                accusamus recusandae et! A error laboriosam ea enim unde iure quibusdam aliquam quia, delectus
                voluptatum
                quam blanditiis maiores possimus reiciendis qui et nobis! Quae minus sapiente voluptatum. Quaerat,
                velit?
                Dolor aliquam quia vitae dolore possimus accusamus quam inventore pariatur quasi, a fugit consequuntur
                minus
                cumque magni reprehenderit necessitatibus magnam rem eaque molestias! Tempore eveniet ipsa eum,
                temporibus
                mollitia, enim veniam, eaque explicabo earum nulla amet totam beatae quasi quod consequatur non ratione.
                Officia rerum labore consectetur provident atque consequuntur itaque quibusdam cumque optio quas
                recusandae
                consequatur perferendis quasi accusamus corporis deleniti, sapiente eos hic dolorum perspiciatis totam
                ipsam
                officiis culpa quidem. Animi perspiciatis provident enim ipsa nulla error neque natus, odio laboriosam
                est
                voluptate molestias dignissimos quisquam mollitia a tempore eius aliquid repudiandae deserunt similique
                obcaecati suscipit? Quasi mollitia, excepturi quo illo soluta asperiores, fugiat dolorem enim animi
                expedita
                nobis repellat incidunt culpa quisquam praesentium et impedit dolores sed modi temporibus repudiandae
                nihil
                veritatis! Enim blanditiis expedita quia voluptatum veritatis esse laudantium ullam excepturi deleniti
                voluptatibus adipisci, laboriosam odio labore, illum dolorem iste distinctio delectus voluptates a eum
                repellendus aut eius repellat! Nobis maiores non natus amet minima. Asperiores quia quibusdam
                consequatur
                ducimus facilis voluptates voluptatum nemo, id accusantium? Autem, sit consequuntur qui eveniet
                perferendis
                neque, ipsa odit sed sunt asperiores culpa hic repellendus atque dolor consectetur quis nulla? Nobis
                aspernatur sunt perspiciatis aut ipsam rem eligendi voluptatibus perferendis eius tempore minus
                temporibus
                sint, tempora eveniet voluptatum? Ab cupiditate laudantium architecto! Dolorum, sint debitis? Fugiat
                modi ea
                quos nihil, eos consequuntur porro sint facere laboriosam ab voluptas saepe velit libero molestias
                beatae
                vero quis dignissimos impedit officiis deleniti aliquam. Maiores tempora, modi et totam pariatur nam
                illum
                facere a exercitationem dolore ex, illo atque quas, alias id dicta quo ipsa sapiente laboriosam! Minus
                ad
                necessitatibus quis labore ipsa! At totam consectetur et quod mollitia est minima enim facilis,
                asperiores
                dolorum reprehenderit aspernatur. Iure, doloribus vel! Vel voluptatibus vero cumque amet dolor quibusdam
                molestiae debitis aliquid sint veritatis quo voluptatem placeat nihil voluptate perferendis, dolore
                impedit
                iure dolores doloribus accusamus pariatur non? Corrupti debitis nisi, ullam quasi dignissimos dolorum,
                pariatur similique magnam voluptatibus laboriosam iure? Temporibus minus possimus autem recusandae modi
                reprehenderit nobis, cupiditate quisquam, nemo natus deserunt obcaecati. Aut velit culpa temporibus
                ullam
                nesciunt accusamus, magni commodi, maxime ducimus aliquam doloribus deleniti assumenda quis! Expedita,
                aperiam est. Aut ab eveniet corrupti exercitationem! Qui temporibus repellat, esse eveniet odit suscipit
                cum
                eum. Inventore repudiandae natus alias quas fuga, ab eaque deserunt error provident temporibus,
                reiciendis
                magnam expedita consectetur eos quidem velit quibusdam odit delectus? Quam sit aperiam neque magni modi
                ex
                voluptatem, explicabo rem quia voluptatibus minus non asperiores perspiciatis corrupti esse, temporibus
                recusandae veniam! Adipisci maiores repellendus in corporis necessitatibus eveniet libero quam at ipsa
                repellat nulla labore quasi veniam odio, deserunt laudantium voluptatum nisi ipsum doloremque porro sit.
                Enim eos reiciendis nihil fugiat et, odit eaque autem dolore doloremque assumenda. Ab iure molestias
                ratione
                enim alias ullam iusto aliquid incidunt delectus, aliquam illo facilis, neque nam! Dolore quam
                praesentium
                at deserunt labore quos illum laborum, iusto porro pariatur amet, beatae eius numquam voluptates aut ad
                ducimus tempore asperiores! Nemo, perspiciatis consectetur quia nulla, dignissimos deserunt ullam
                molestias
                illo esse porro cupiditate excepturi itaque totam tenetur quasi voluptas reiciendis assumenda dolorum
                ratione? Est, repudiandae sunt. Quaerat ratione ipsum est? Est, laudantium et. Explicabo cumque
                asperiores
                molestias impedit, ut rerum nihil vero ex nam possimus qui necessitatibus quasi beatae magnam distinctio
                laudantium quo recusandae optio facere, velit maxime incidunt dicta! Rem suscipit corporis iusto
                voluptates
                nam quidem, fugiat iure beatae ab cupiditate, nesciunt eum corrupti harum, nihil dolor ullam velit
                assumenda
                repellat provident. Atque pariatur inventore cumque nostrum voluptas odit non quasi impedit veritatis
                corporis provident deserunt corrupti officiis magnam, enim nulla? Corporis, dicta molestias laboriosam
                repudiandae consequatur repellendus aliquid eius hic! Modi quod fuga, voluptas ut ab dolore quae libero
                natus aliquid accusamus. Omnis doloribus earum corporis iure itaque ullam molestiae dolor, reiciendis
                quasi!
                Culpa eos tenetur perferendis esse libero vitae sit quia earum architecto! Culpa fugit mollitia,
                necessitatibus voluptatum aspernatur sed, quia, sapiente consequatur quibusdam architecto ea quo natus
                at
                velit? Sunt harum ea blanditiis corrupti neque, dolor quaerat accusamus, voluptas eaque excepturi
                ducimus,
                ipsa pariatur adipisci unde labore quam quibusdam inventore iste omnis mollitia laborum minus obcaecati.
                Velit magni tempore magnam doloremque quasi numquam cum dicta quam id ullam, atque fuga? Provident
                tenetur,
                magnam atque hic nulla quibusdam aspernatur, ipsa cupiditate rerum laudantium ducimus eos. Ducimus
                blanditiis illum quae praesentium inventore consectetur numquam pariatur voluptatibus nulla corrupti
                reiciendis, voluptatum aliquam laboriosam et error assumenda, magnam autem tenetur architecto.</p>

            <br> <br>
            <hr id="about">
            <br> <br>
            <br> <br>


            <h1 id="">About</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ratione optio consequatur
                ullam
                obcaecati quas eius, ad iusto tempora soluta, possimus harum dicta veniam ipsam atque aut nam eaque
                dolorum provident illo quae, voluptatibus ex facilis repellendus! Iure, adipisci molestiae cupiditate
                ipsam dolores tempore libero, laudantium nesciunt saepe, ea error! Error harum sed mollitia sequi eaque
                ipsa pariatur consectetur distinctio dolore placeat voluptate qui molestiae dolorum, perspiciatis ex hic
                expedita perferendis. Quia optio ipsam vero est at eveniet sed corrupti voluptate animi, corporis
                perspiciatis iste culpa quidem ad fugiat laborum consectetur nobis voluptatem libero. Officiis, magni
                praesentium. Praesentium cum soluta error id molestiae asperiores, deleniti blanditiis sit nostrum
                tenetur reprehenderit optio odit consequuntur! Nesciunt, mollitia. Officia maiores recusandae animi ad
                molestiae quisquam enim nihil numquam, suscipit ipsa dolore cum esse itaque aliquam fuga deleniti
                explicabo sit odit reiciendis rerum deserunt illum, unde a modi! Eius repellendus quia maiores atque
                ipsum voluptatibus aut, fuga, hic exercitationem dolorem quos, soluta doloribus? Earum atque, temporibus
                voluptas soluta delectus voluptate! Ipsa nobis accusantium ratione hic expedita accusamus officia,
                deleniti perspiciatis sapiente consectetur corrupti dolorum enim itaque iste voluptates id modi, sint
                nam praesentium quasi numquam. Omnis quaerat iste saepe quis eaque aspernatur esse delectus.</p>
            <br>
            <br> <br>
            <br> <br>
            <hr id="contact">
            <br> <br>
            <br> <br>

            <h1 id="">Contact</h1>
            <p id="">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis, error. Repudiandae
                corporis omnis recusandae distinctio. Doloremque eius, corporis aperiam inventore iure impedit ipsa
                voluptatum tempore quod temporibus. Quod, dignissimos molestiae!lorem100

            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores quae laboriosam dolor laborum
                excepturi quaerat labore non repellat totam obcaecati similique enim porro nisi eos eaque vitae
                molestias expedita modi commodi natus, quo, nostrum dignissimos eveniet possimus. Voluptate facilis
                repudiandae tempora, necessitatibus quidem accusamus veritatis sint dicta excepturi, dolor esse!
                Obcaecati nemo eveniet, quod magnam amet natus cum at ea praesentium iste, similique itaque porro veniam
                voluptate quae debitis aspernatur. Numquam eveniet ex provident debitis harum. Facilis dolores
                distinctio nobis itaque optio reprehenderit, ut non, cupiditate iste autem eum? Quisquam totam unde et
                optio commodi nostrum sit? Vero suscipit necessitatibus reiciendis! Harum rerum sapiente sint explicabo,
                sed labore, ipsam at dolorem pariatur itaque soluta! Excepturi animi vel aut corporis numquam vero
                architecto odit similique, facilis molestiae repellat at odio voluptates, quibusdam error aperiam
                officiis alias in nisi? Aperiam et quae fugit omnis accusamus deleniti impedit. Deserunt debitis aliquid
                architecto totam praesentium. Doloribus quasi iste facilis, sint incidunt eveniet distinctio, corporis
                repudiandae alias ullam necessitatibus repellendus eum asperiores nam, dolore enim mollitia nemo
                voluptate excepturi rem nisi dolores maiores. A, quia quo nihil consectetur ut quam illum veritatis
                adipisci perferendis at neque recusandae molestiae reiciendis autem quibusdam rem labore ad dignissimos
                officia dicta! Incidunt officiis, molestiae dolores quibusdam recusandae magnam laboriosam repellat
                maiores quia sint iusto ad aspernatur? Minima incidunt illo quis, fugiat laborum ea ut. Nobis soluta
                obcaecati ipsam et animi illo. Laboriosam, eligendi. Nihil corporis, cumque asperiores pariatur hic sint
                laborum voluptatem blanditiis facilis delectus quidem sapiente consequuntur veritatis distinctio optio
                tempore, iste rem numquam. Asperiores beatae assumenda quos. Quaerat provident voluptatum eius dolorem
                amet sequi autem quo soluta itaque reiciendis nobis at placeat blanditiis esse expedita atque laudantium
                magni animi, quod iusto sint architecto ut? Explicabo esse nulla magni perspiciatis doloribus iusto
                laudantium autem officiis amet quasi quibusdam incidunt quidem sint, quos labore, sit minima nihil
                dolorum molestiae velit aliquid odit quis. Laboriosam quas commodi modi ipsa deleniti voluptatum vel.
                Error corrupti quia, illo quos nemo praesentium. Iure, animi nihil ullam porro error tempora placeat
                laudantium exercitationem ut qui doloribus asperiores velit sint suscipit consectetur fuga ducimus
                repellat atque neque? Velit at voluptatem vel amet dolorum placeat aut ut temporibus dolore aliquid,
                omnis quam nisi sit non maxime consequatur alias. Eaque vel quisquam dicta veniam quis molestias
                provident reiciendis nam mollitia illum? Iste aperiam dolorum, officiis asperiores magni ipsa incidunt
                modi quaerat. Vel, necessitatibus nulla id magni quod eveniet exercitationem sint qui totam culpa
                commodi sapiente, quia in, veritatis itaque cumque cupiditate. Mollitia temporibus odio pariatur a
                incidunt laboriosam accusantium rerum error labore officiis inventore, expedita id! Alias repellat harum
                corporis voluptas eveniet vero nostrum maxime distinctio eius porro ad expedita id vitae, est magni fuga
                pariatur voluptatem officiis rem quas, nam quae ex molestiae earum. Facere officia qui at est quis
                expedita fugit minima doloremque eos quisquam, soluta ad quibusdam voluptates voluptatem animi! Quos
                tempora maxime culpa asperiores. Minima, culpa vero velit in a provident autem voluptatibus possimus
                magni nostrum laborum aliquid, doloremque quasi illo enim error voluptatem aut dolorum consectetur
                voluptate hic? Excepturi recusandae tempora numquam, reiciendis eos adipisci corrupti impedit
                consequuntur eaque sunt voluptas cupiditate alias placeat sequi esse provident? Illum esse qui dolore
                neque commodi distinctio corporis eum, voluptates quos veniam quisquam, rerum accusamus nulla assumenda
                quibusdam architecto doloribus ducimus! Delectus libero doloribus facilis, natus aliquid minima velit
                harum temporibus fuga praesentium? Illo ut ab sapiente vero repellat fugit voluptate nihil iure id
                dolore quis atque totam, autem modi ratione! Labore cumque iure neque error? Amet, reiciendis incidunt
                praesentium rerum accusantium nam consectetur quasi provident. Quas ea, dolorum autem maiores velit
                similique quos qui a sunt perferendis totam aperiam ab nemo unde beatae! Itaque repudiandae quae ab
                reiciendis debitis iure quidem quisquam quis aut incidunt soluta, suscipit voluptate facere, atque
                veritatis neque expedita explicabo ipsam. Blanditiis esse ad accusamus cum, suscipit molestiae harum
                quia quas pariatur incidunt inventore voluptates, perspiciatis assumenda natus! Voluptatum laborum qui
                eveniet ad ducimus, totam in atque explicabo facere eaque obcaecati ullam vitae sit fugiat architecto
                beatae. Nulla sapiente eaque, minus veniam cumque aspernatur, nam maiores quibusdam, voluptates sunt cum
                blanditiis rem sit soluta mollitia neque eligendi maxime dolorem amet quidem esse. Maiores cupiditate
                expedita sunt provident similique praesentium, ducimus adipisci debitis voluptatem, tenetur voluptatum
                repellat ipsam vel. Quis debitis aliquid dolores, repellendus illum harum molestiae! Nam voluptates
                blanditiis aperiam iure eum! Numquam in impedit blanditiis voluptatem dolores veniam necessitatibus
                laborum fugit deserunt adipisci voluptate laboriosam eaque sed, ea assumenda error ullam consequuntur
                tenetur cumque, pariatur quia consequatur. Iusto, cum neque aspernatur voluptatibus laboriosam quos
                impedit nihil hic in ratione maiores quas deserunt saepe reprehenderit quasi eaque consequatur corrupti
                at ipsa ab sint temporibus. Minima optio quidem fuga dolor iste error nostrum et a pariatur quaerat nemo
                odit, tempora vel voluptate. Aliquid aspernatur quod eius consequuntur modi cumque temporibus, qui
                reprehenderit quisquam, sequi officiis velit alias? Atque ipsum enim fugiat doloribus odio voluptatum
                nesciunt architecto tempora. Explicabo officia vitae repellendus minus, accusantium tenetur est
                asperiores fugiat impedit corporis praesentium accusamus rem iste tempore deleniti neque. Dolor
                voluptatem nulla, earum placeat sit laboriosam saepe asperiores temporibus modi facilis vel expedita.
                Voluptatum, voluptatem maiores quam placeat atque veritatis tempora necessitatibus cum ex repellendus
                fuga corrupti sunt doloremque impedit adipisci explicabo quod ab inventore et sit! Pariatur,
                consequuntur minima! Ut eaque repellat consequuntur minima incidunt, voluptatibus earum sunt
                exercitationem nulla eligendi, totam eius, corporis quisquam. Distinctio, dolor. Facilis repudiandae
                accusantium aliquid doloremque, at similique vel corrupti, incidunt magni molestiae enim aspernatur
                harum deserunt laudantium nulla illo? Atque error delectus vel quis magni quisquam iusto nihil provident
                cumque, consequuntur, aliquam adipisci laborum unde voluptates impedit quasi consequatur eaque quae
                fugiat. Dignissimos possimus delectus quod beatae adipisci praesentium reiciendis laudantium nihil? Vel
                assumenda nesciunt distinctio rem eligendi consequuntur fugit cum, perferendis in ex, aut quia,
                provident quod quos? Placeat provident dolores tempore eligendi odit beatae incidunt quia quod, itaque
                minima, error nulla ab expedita libero aperiam magni blanditiis praesentium. Veniam fugit dolores
                aspernatur enim distinctio quos, magni nobis vitae quo et nulla, ut, deserunt corporis.

            </p>

        </div>
        <footer>

            <div> @ Copyright 2022</div>
            <br>
            <div>
                <a href="">
                    <span> Privay Policy</span>
                </a>
                <a href=""><span>Terms of Service</span></a>

            </div>
        </footer>
    </div>


    <script>
        let boxelement = document.getElementById("box2")
        function toggleMenu() {
            let menu = document.getElementById("menu");
            boxelement.classList.toggle('invisible');

        }
        let homeelement = document.getElementById("homeTab");
        let contact = document.getElementById("contactTab");
        let about = document.getElementById("aboutTab");
        function toggleHome() {
            homeelement.classList.add('active');
            about.classList.remove('active');
            contact.classList.remove('active');
            console.log(homeelement.classList);
        }
        function toggleAbout() {
            homeelement.classList.remove('active');
            about.classList.add('active');
            contact.classList.remove('active');
        }

        function toggleContact() {
            homeelement.classList.remove('active');
            about.classList.remove('active');
            contact.classList.add('active');
        }

        var date = Date();
        // boxelement.innerHTML = "<h4> Hello </h4 >" + date;
        setInterval(function () { boxelement.innerHTML = "<h4> Hello </h4 >" + Date() + "<div>@ Copyright 2023</div>" }, 1000);
        function toggleSidebar(params) {

            boxelement.toggleAttribute("box box-2")
        }
    </script>
</body>

</html>